doctype html
html
  head
    meta(charset='UTF-8')
    title Guitargram

    link(href='https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script' rel='stylesheet')
    link(rel='stylesheet' href='public/app.css')

    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
  body
    section#main-container
      .container
        .row
          .col.s10.push-s1
            .row
              .col.m5.hide-on-small-only
                img.iphone(src='public/iphone.png', alt='')
              .col.s12.m7
                .row
                  .signup-box
                    h1.guitargram Guitargram
                    form.signup-form
                      h2 Regístrate para ver fotos de tus amigos como rockstars
                      .section
                        a.btn.btn-fb.hide-on-small-only(href='#') Iniciar sesión con Facebook
                        a.btn.btn-fb.hide-on-med-and-up(href='#') Iniciar sesión
                      .divider
                      .section
                        input(type='email', name='email', placeholder='Correo Electrónico')
                        input(type='text', name='name', placeholder='Nombre completo')
                        input(type='text', name='username', placeholder='Nombre de usuario')
                        input(type='password', name='password', placeholder='Contraseña')
                        button.btn.waves-effect.waves-light.btn-signup(type='submit') Regístrate
                .row
                  .login-box
                    | ¿Tienes una cuenta? 
                    a(href='/signin') Entrar
    footer.site-footer
      .container
        .row
          .col.s12.l3.center-align
            // Dropdown Trigger
            a.dropdown-button.btn.btn-flat(href='#', data-activates='dropdown1') Idioma
            // Dropdown Structure
            ul#dropdown1.dropdown-content
              li
                a(href='#!') Español
              li
                a(href='#!') Inglés
          .col.s12.l3.push-l6.center-align
            | ® 2016 Guitargram
    script(src='https://code.jquery.com/jquery-3.1.0.min.js', integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
